/* CalculadoraBasica.css */
/* Version 1.0. 03/11/2020. Hector Fernandez Maillo. Universidad de Oviedo */

/* a=0 b=0 c=1 -> Especificidad =   1 */
body {
      font: 1.1em "Trebuchet MS", sans-serif;
      line-height: 1.9;
      background-color:#fffbc8; 
      text-align: justify;
  }

/* a=0 b=0 c=1 -> Especificidad =   1 */
h1 {
      background-color: #A7270B; 
      color: white;
      text-transform: uppercase;  
      text-align: center; 
      padding: 1em 2em;
      border: dashed black;
      margin: 1em 1.5em;
  }

/* a=0 b=0 c=1 -> Especificidad =   1 */
article {
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-gap: 0.7em;
      margin: auto;
      width: 30%;
  }

/* a=0 b=0 c=1 -> Especificidad =   1 */
input {
      padding: 0.7em;
  }

/* a=0 b=1 c=1 -> Especificidad =  11 */
input[type="text"] {
      grid-column-start: 1;
      grid-column-end: 5;
  }

/* a=0 b=1 c=1 -> Especificidad =  11 */
input[onclick*="digitos"] {
      background-color: #7c7c7c;
      color: white;
  }

/* a=0 b=0 c=1 -> Especificidad =   1 */
p {
      color: darkslategray;
  }

/* a=0 b=0 c=1 -> Especificidad =   1 */
footer {
      margin-top: 2em;
  }

/* a=0 b=1 c=1 -> Especificidad =  11 */
img[alt~="Válido!"] {
      height: 3.6em;
      width: 3.6em;
  }
