/* a=0 b=0 c=1 -> Especificidad =   1 */
body {
      font: 1.1em "Trebuchet MS", sans-serif;
      line-height: 1.9;
      background-color:#fffbc8; 
      text-align: justify;
  }

/* a=0 b=0 c=1 -> Especificidad =   1 */
h1 {
      background-color: #A7270B; 
      color: white;
      text-transform: uppercase;  
      text-align: center; 
      padding: 1em 2em;
      border: dashed black;
      margin: 1em 1.5em;
  }

/* a=0 b=0 c=1 -> Especificidad =   1 */
/* a=0 b=0 c=1 -> Especificidad =   1 */
h2, h3 {
      color: #A7270B;
  }

/* a=0 b=0 c=1 -> Especificidad =   1 */
/* a=0 b=0 c=1 -> Especificidad =   1 */
h2, h4 {
      font-variant: small-caps;
  }

/* a=0 b=0 c=2 -> Especificidad =   2 */
/* a=0 b=0 c=2 -> Especificidad =   2 */
h2 + ul, h4 + ul {
      list-style: circle outside;
  }

/* a=0 b=0 c=2 -> Especificidad =   2 */
/* a=0 b=0 c=2 -> Especificidad =   2 */
h3 + ul, h5 + ul {
      list-style: square outside;
  }

/* a=0 b=0 c=1 -> Especificidad =   1 */
/* a=0 b=0 c=1 -> Especificidad =   1 */
img, iframe {
      height: 8em;
      width: auto;
  }

/* a=0 b=0 c=2 -> Especificidad =   2 */
article > section {
      margin-left: 2.3em;
  }

/* a=0 b=0 c=3 -> Especificidad =   3 */
article > section > article {
      margin-left: 2.3em;
  }

/* a=0 b=0 c=1 -> Especificidad =   1 */
footer {
      margin-top: 2em;
  }

/* a=0 b=1 c=1 -> Especificidad =  11 */
img[alt~="Válido!"] {
      height: 3.6em;
      width: 3.6em;
  }

/* a=0 b=1 c=1 -> Especificidad =  11 */
a:link { 
      color: blue;
  }

/* a=0 b=1 c=1 -> Especificidad =  11 */
a:visited { 
      color: purple;
  }

/* a=0 b=1 c=1 -> Especificidad =  11 */
a:active { 
      color: darkred;
  }
