/* Ejercicio9.css */
/* Version 1.0. 17/11/2020. Hector Fernandez Maillo. Universidad de Oviedo */

/* a=0 b=0 c=1 -> Especificidad =   1 */
body {
      font: 1.1em "Trebuchet MS", sans-serif;
      line-height: 1.9;
      background-color:#fffbc8; 
      text-align: justify;
  }

/* a=0 b=0 c=1 -> Especificidad =   1 */
h1 {
      background-color: #A7270B; 
      color: white;
      text-transform: uppercase;  
      text-align: center; 
      padding: 1em 2em;
      border: dashed black;
      margin: 1em 1.5em;
  }

/* a=0 b=0 c=1 -> Especificidad =   1 */
article {
      display: grid;
      grid-template-columns: 13em auto;
      grid-template-areas: 
        'header image'
        'main main';
}

/* a=0 b=0 c=1 -> Especificidad =   1 */
h2 {
      color: #A7270B;
      font-variant: small-caps;
      grid-area: header;
  }

/* a=0 b=0 c=1 -> Especificidad =   1 */
img {
      margin: auto 0 auto;
      grid-area: image;
  }

/* a=0 b=0 c=1 -> Especificidad =   1 */
/* a=0 b=0 c=1 -> Especificidad =   1 */
ul, p {
      grid-area: main;
  }

/* a=0 b=0 c=1 -> Especificidad =   1 */
ul {
      list-style: circle outside;
  }

/* a=0 b=0 c=1 -> Especificidad =   1 */
footer {
      margin-top: 2em;
  }

/* a=0 b=1 c=1 -> Especificidad =  11 */
img[alt~="Válido!"] {
      height: 3.6em;
      width: 3.6em;
  }
